$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "flexslider-compass/flexslider.scss";

@import "variables";
@import "animate";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
    background-color: #fff;
    color: #040404;
    height: 100%;
    font: 16px/1.4 'Open Sans',sans-serif;
    text-align: left;
    color: #666;
}

body {
    padding-top: 70px;
}

::-moz-selection {
    text-shadow: none;
    background: #ccc;
}

::selection {
    text-shadow: none;
    background: #ccc;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

a, a:hover, a:focus {
    color: $red;
}

section {
    height: auto;
    min-height: 100%;
    padding: 40px 0;
}

.footer {
    padding: 20px 0 10px;
}

/* Navigation */
.navbar {
    min-height: 70px;
    padding: 0 20px;
}

.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: $red; }

.navbar-brand {
    padding: 5px 0;
    img {
        height: 60px;
    }
}
.btn-primary {
  border: 1px solid $green;
  background-color: $green;
  color: #fff;
  box-shadow: 0 3px 0 0 $green-dark;
  &:hover, &:focus, &:active {
    color: #fcfcfc;
    border-color: $green-medium;
    background-color: $green-medium;
    box-shadow: 0 3px 0 0 $green-dark;
  }
  &:active {
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
  }
}
/* ===================
  Home section
  ================= */
/*Flexslider*/
.flexslider {
    margin: 0;
    padding: 0;
    position: relative;
    border: 0;
    border-color: #141414;
    background: #141414;
    box-shadow: none;
    height: 60vh;
    overflow: hidden;
    .slides {
      height: 100%; 
        > li {
          height: 100%; 
            display: none;
            -webkit-backface-visibility: hidden;
        }
        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 100%;
        }
    }
}

.flex-caption {
    position: relative;
    padding: 0 0 0 200px;
    top: 50%;
    animation-duration: 3s;
    animation-delay: 1s;
    h2 {
      text-transform: uppercase;
      color: #fff;
      background: rgba(237, 28, 36, 0.4);
      font-size: 42px;
      font-weight: 800;
      padding: 20px 40px;
      float: left;
    }
    p {
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      font-size: 18px;
      margin: 5px 0 0 0;
      padding: 15px 25px;
      float: left;
    }
}
.progress_bar_container {
    height: 4px;
    width: 100%;
    position: relative;
    top: -4px;
    z-index: 200;
    .progress_bar {
        background: $red;
        height: 4px;
        width: 0;
        position: relative;
    }
}
#home {
  padding-top: 0;
}
#home-info {
  padding: 20px 0;
  margin-top: -4px;
  color: #fff;
  h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 28px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }
}
#carousel-marci {
  width: 610px;
  margin: 0 auto;
  img {
    display: inline-block;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
#home-preturi {
  padding: 30px 0 10px;
  h2 {
    color: $red-dark;
    padding-bottom: 20px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }
}
.home-reclama {
  padding: 30px 0 20px;
}
.round-tc {
  .carousel-inner{
    border-radius: 150px;
    border: 10px solid #ddd;
  }
  .item {
    border-radius: 150px;
    border:1px dashed #a1a1a1;
    opacity: 0;
    transition-property: opacity;
  }

  .active {
    opacity: 1;
  }
  img {
    border-radius: 150px;
  }
}
.testimonial {
  min-height: 280px;
  p {
    position: relative;
    background-color: #f5f5f5;
    padding: 20px 50px;
    border-radius: 20px;
    margin: 0;
    &:before, &:after {
      font-family: Georgia, serif;
      color: #999;
      content: "\201C";
      font-size: 80px;
      font-style: normal;
      line-height: 1;
      position: absolute;
    }
    &:before {
      left: 10px;
      top: 0;
    }
    &:after {
      bottom: -0.5em;
      content: "\201D";
      right: 10px;
    }
  }
  .testimonial-arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f5f5f5;
    height: 0;
    margin: 0 0 0 25px;
    width: 0;
  }
  h5 {
    font-weight: 600;
    img {
      width: 130px;
      margin-bottom: 5px;
    }
  }
}

.carbon-fiber {
  background: #222 url(../images/fiber.png) repeat top left;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.greyscaled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.grey-background {
  background: #eee;
}
.fs18 {
  font-size: 18px;
}
.indie-title {
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);

}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        margin: 10px 0;
    }
}