/* Generic colors */
$green: #acbb71;
$green-hover: darken($green, 15%);
$darkGreen: #717B4A;
$darkGreen-hover: darken($darkGreen, 15%);
$hardGreen: #185511;
$hardGreen-hover: darken($hardGreen, 15%);